click==8.1.7
cloudpickle==3.0.0
dask==2023.2.0
dask-expr==1.1.15
distributed==2023.2.0
fsspec==2024.9.0
importlib_metadata==8.5.0
Jinja2==3.1.4
locket==1.0.0
MarkupSafe==2.1.5
msgpack==1.1.0
numpy==1.24.2
packaging==24.1
pandas==1.5.3
partd==1.4.2
psutil==6.0.0
pyarrow==17.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
scipy==1.14.1
six==1.16.0
sortedcontainers==2.4.0
tblib==3.0.0
toolz==0.12.1
tornado==6.4.1
tzdata==2024.2
urllib3==2.2.3
zict==3.0.0
zipp==3.20.2
